.gallery{
    text-align: center;
}


.row{
    display: flex;
    justify-content: space-between;

    .photo-col{
        flex-basis: 32%;
        margin-bottom: 30px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        
        

        img{
            width: 100%;
            display: block;
        }

        .layer{
            background-color: transparent;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;

            &:hover{
                background-color: rgba(220,0,0,0.7);
            }

            h3{
                width: 100%;
                font-weight: 500;
                font-size: 25px;
                color: #fff;
                position: absolute;
                bottom: 0;
                left: 50%;
                opacity: 0;
                transform: translateX(-50%);
                transition: 0.5s;
 
            }

        }
        .layer:hover h3{
            opacity: 1;
            bottom: 49%;
        }

    
    }
}
